#!/bin/bash

if [ -z "${VIVADO_SETTINGS}" ]; then
    export VIVADO_SETTINGS=$(find /opt -wholename "*Xilinx/Vivado/*/settings64.sh" 2>/dev/null | sort | head -n 1)
fi

source ${VIVADO_SETTINGS}

vivado -mode batch -source {{ tcl }}.tcl
